.container {
  	width: 710px;
  	margin : auto;
}

body {
  background: #000;
}

header {
height:250px;
}

header img {
  background: #000;
}

section {
	color: #2F4F4F;
  margin-top: 17px;
  font-size: 120%;
  padding: 20px;
  background: #708090;
}

section h1 {
  font-size: 200%;
}

/* Links */

a {
  color: #79CDCD;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #79CDCD;
}

/* Navigation */

nav {
  float: right;
}

nav {
  background-color: #708090;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #79CDCD;
}

nav ul li a:hover {
	color: #069;
  text-decoration: underline;
}

/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #528B8B;
  background: #C6E2FF;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
  border-style: groove;
  border-width: 7px;
}

/* Round corners */

.round {
  -moz-border-radius:    7px;
  -webkit-border-radius: 7px;
  border-radius:         7px;
}


footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}